
body {
    font-family: "Sora", 'Arial', sans-serif;
    background-color: #151515;
    font-optical-sizing: auto;
    font-style: normal;
    background-image: url('https://www.transparenttextures.com/patterns/camo.png');
    background-repeat: repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    min-height: 80vh;
}
html, body {
  overflow: hidden;
}

.container {
    background: rgba(255, 255, 255, 0.95);
    padding: 2rem;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
    border: 1px solid #7fff00;       /* borda verde neon */
    border-radius: 20px;
}

h1 {
    color: #1a230b;
    text-align: center;
    margin-bottom: 3rem;
}

label {
    color:#1a230b;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid #4b5320;
    margin-bottom: 1rem;
    background-color: #fdfdf6;
}

button {
    background-color: #181817;
    color: white;
    padding: 0.5rem 1rem;
    border: 3px solid #305120;
    border-radius: 0.5rem;
    margin-top: 1.5rem;
    cursor: pointer;
    width: 100%;
    font-size: 1rem;
    transition: background-color 0.3s;
}

button:hover {
}

#resultado {
    margin-top: 1rem;
    padding-bottom: 2rem;
    font-size: 1.2rem;
    font-weight: bold;
    color: #1a230b;
    text-align: center;
}

.botao-personalizado {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: #1d1c1c;      /* fundo preto */
    color: #fff;                     /* texto branco */
    border: 1px solid #7fff00;       /* borda verde neon */
    border-radius: 20px;             /* bordas arredondadas */
    padding: 15px 25px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.botao-personalizado:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px #ffffff;
}

/* Ícone dentro do botão */
.botao-personalizado::before {   
  color: #1a230b;
  background: #ffcc00;
  border-radius: 50%;
  padding: 5px;
  font-size: 14px;
}

/* Estilo base para os inputs */
input[type="number"], input[type="text"] {
  border: 1px solid #4a4a4a;
  border-radius: 6px;
  padding: 8px;
  font-size: 16px;
  background: #f8f8f8;   /* cor de fundo clara */
  color: #000;           /* texto preto */
  outline: none;
  transition: border 0.3s ease;
}

/* Quando clicar (focus), mantém a cor e só destaca levemente a borda */
input[type="number"]:focus, input[type="text"]:focus {
  background: #f8f8f8;   /* mantém a mesma cor */
}

/* Remove as setinhas (spinners) do input number */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield; /
}
